@page
@model BeautyShop.Pages.Customers.CustomerListModel
@{
	ViewData["Title"] = "CustomerList";
}



<h1>Customers</h1>

<div>
	<form method="get">
		<div class="form-group">
			<div class="input-group">
				<input type="search" class="form-control" placeholder="search" asp-for="SearchTerm">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="submit">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>

		</div>
	</form>
	<table class="table">
		<thead>
			<tr>
				<th>Customer</th>
				<th>Membership</th>
				<th></th>
			</tr>
		</thead>
		@foreach (var item in Model.Customers)
		{
			<tr>
				<td>
					@item.FirstName @item.LastName
				</td>
				<td>
					@item.MemberShip?.GetMemberShipType()
				</td>
				<td>
					<a class="btn btn-primary" asp-route-Id="@item.Id" asp-page="./CustomerDetails"><i class="fas fa-search"></i></a>
					<a class="btn btn-primary" asp-route-Id="@item.Id" asp-page="./CustomerEdit"><i class="fas fa-edit"></i></a>
					<a class="btn btn-danger" asp-route-Id="@item.Id" asp-page="./Delete"><i class="fas fa-trash"></i></a> 
				</td>
			</tr>
		}
		<tfoot style="visibility:@(!Model.Customers.Any() ? "visible" : "hidden")">
			<tr>
				<td colspan="3">
					Nothing to display.
				</td>
			</tr>
		</tfoot>
	</table>
</div>
<div class="form-group">
	<a class="btn btn-primary" asp-page="./CustomerEdit">Add customer</a>
</div>
@if (!string.IsNullOrEmpty(Model.Message))
{
	<div class="alert alert-info">@Model.Message</div>
}
